node_modules
**/node_modules
.next
**/.next
dist
**/dist
.git
.gitignore
.env
.env.local
.env.docker
.DS_Store
**/.DS_Store
coverage
**/coverage
.turbo
**/.turbo
docs
scripts
*.md
!README.md
**/*.log
.vscode
.windsurf
